body{
    background-color: rgba(10, 182, 250, 0.5);
    font-size: 2em;
    font-family: 'Qahiri', sans-serif;
}    

#bgm{
    height: 500px;
    width: 70%;
  font-size: 9mm;
    background: url("/images/sun\ rise.jpg");
        background-repeat: no-repeat;
        /* background-size: 1000px 70%; */
        /* background-size: cover;   */
        /* cover =covers full without quality */
        background-size: contain;
        /* contain = conatil full with QUALITY  */
        background-color: rgba(230, 14, 176, 0.781);
    }
#GRAD{
    height: 400px;
    width: 70%;
    /* background: linear-gradient(55deg, rgb(255, 5, 5),rgba(255, 5, 5,0.5),rgba(255,5,5,0)); */
    background: linear-gradient(to left, rgb(255, 5, 5),rgba(255, 5, 5,0.5),rgba(255,5,5,0));
    background-size: cover;
}    
.radial{
    height: 250px;
    width: 50%;
    float: right;
    margin: 2cm 2cm 2cm 2cm;
    background: radial-gradient(circle,blue,orange,#9435a7);
}
/* heirchaal very important order of sequneces  */